@{
    ViewData["Title"] = "Home Page";
}
@{
    string nombreUsuario = Context.Session.GetObject<string>("USUARIO");
}
@model ProductosTienda

<div class="container">
    <h1>El id del usuario en session es el: @nombreUsuario</h1>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos en Stock</h5>
                    <p class="card-text">1500 productos disponibles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Órdenes Pendientes</h5>
                    <p class="card-text">12 órdenes en proceso.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos Agotados</h5>
                    <p class="card-text">5 productos sin stock.</p>
                </div>
            </div>
        </div>
    </div>
</div>
