@{
    ViewData["Title"] = "Home Page";
}
@model ProductosTienda
<link rel="stylesheet" href="~/css/estilosHome.css" asp-append-version="true" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos en Stock</h5>
                    <p class="card-text">1500 productos disponibles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Órdenes Pendientes</h5>
                    <p class="card-text">12 órdenes en proceso.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos Agotados</h5>
                    <p class="card-text">5 productos sin stock.</p>
                </div>
            </div>
        </div>
    </div>
</div>
