@{
    ViewData["Title"] = "Home Page";
}
@model ProductosTienda
<link rel="stylesheet" href="~/css/estilosHome.css" asp-append-version="true" />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos en Stock</h5>
                    <p class="card-text">1500 productos disponibles.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Órdenes Pendientes</h5>
                    <p class="card-text">12 órdenes en proceso.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Productos Agotados</h5>
                    <p class="card-text">5 productos sin stock.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="miGraficoCircular"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    fetch('/api/Graficos/datosCircular')
        .then(response => response.json())
        .then(data => {
            const labels = data.map(item => item.label);
            const valores = data.map(item => item.valor);

            const ctx = document.getElementById('miGraficoCircular').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: valores,
                        backgroundColor: [
                            'red',
                            'blue',
                            'green'
                        ]
                    }]
                }
            });
        });
</script>
